@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2"), url(../fonts/ptsans-400.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2"), url(../fonts/ptsans-700.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*FONTS*/

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hero-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.hero-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.action-title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.action-description {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    line-height: 26px;
    margin: 0;
    margin-bottom: 54px;
}


/* .advantages-picture {
    position: relative;
} */

.food::before {
    content: "";
    background: url(../images/advantages-food.png) no-repeat center;
    background-size: contain;
    width: 75px;
    height: 72px;
    margin-bottom: 30px;
}

.housing::before {
    content: "";
    background: url(../images/advantages-housing.png) no-repeat center;
    background-size: contain;
    width: 75px;
    height: 72px;
    margin-bottom: 30px;
}

.souvenir::before {
    content: "";
    background: url(../images/advantages-souvenir.png) no-repeat center;
    background-size: contain;
    width: 75px;
    height: 72px;
    margin-bottom: 30px;
}

.advantages-title {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
}

.stroke::after {
    content: "";
    height: 2px;
    width: 60px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -20px;
    background: rgba(0, 0, 0, 0.3);
}

.advantages-description {
    text-align: center;
    margin: 0;
}

.features-description {
    margin: 0;
}

.subsribe-title {
    text-align: center;
    margin: 0;
}

.footer-contacts-address-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.hotel-item-title {
    text-align: center;
    margin: 0;
}

.hotel-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}


/* .features-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
} */

.light-text {
    color: #fff;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.hotel-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
}


/*END FONTS*/


/*BUTTONS*/

.button {
    background-color: #756157;
    color: #fff;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.button-buy {
    margin: 0 14px;
}

.action-link {
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.subsribe-button {
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
}

.hotel-item-favorite-add {
    background-color: #82B3D3;
}

.hotel-item-favorite-added {
    background-color: #7DB54F;
}

.hotel-submit {
    background-color: #82B3D3;
}

.hotel-reset {
    background-color: transparent;
}

.button-sort {
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 0;
}

.button-sort--active {
    width: 48px;
    height: 48px;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 0;
}

.button-cards {
    background-color: transparent;
    background-image: url(../images/icons/sort-mosaic.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-slideshow {
    background-color: transparent;
    background-image: url(../images/icons/sort-slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
}

.button-social {
    background-color: transparent;
    width: 40px;
    display: block;
    text-align: center;
}

.button-list {
    background-color: transparent;
    background-image: url(../images/icons/sort-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
}


/*END BUTTONS*/


/*BLOKS*/

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.main-continer {
    flex-grow: 1;
}

.main-header {
    display: flex;
    height: 64px;
    z-index: 1;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navigation-user {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.navigation-user>li {
    position: relative;
}

.search-icon {
    display: block;
    width: 40px;
    box-sizing: border-box;
}

.search-icon::before {
    display: block;
    content: ' ';
    background: url(../images/icons/search.svg) no-repeat;
    height: 20px;
    width: 20px;
    margin-right: auto;
}

.favorite-icon {
    display: block;
    width: 40px;
    box-sizing: border-box;
}

.favorite-icon::before {
    display: block;
    content: ' ';
    background: url(../images/icons/favorites.svg) no-repeat;
    height: 20px;
    width: 20px;
    margin-right: auto;
}

.favorite-icon::after {
    display: block;
    content: '12';
    color: #ffffff;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -4px;
    top: 8px;
    background-color: #7DB54F;
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.navigation-link {
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    text-transform: capitalize;
}

.main-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px;
}

.footer-contacts-address-phone {
    width: 720px;
    text-align: center;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
}

.hero {
    position: relative;
    /* 485px; */
}

.hero::before {
    content: "";
    display: block;
    background: #fff url(../images/backgrounds/hero-background.jpg) no-repeat center top;
    min-height: 767px;
    width: 100%;
    min-height: 485px;
    /* position: absolute;
    top: 51px;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto; */
}

.hero::after {
    display: block;
    content: ' ';
    background: url(../images/welcome.png) no-repeat;
    width: 458px;
    height: 352px;
    position: absolute;
    top: 51px;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
}

.hero-footer::before {
    display: block;
    content: ' ';
    background: url(../images/divider.svg) no-repeat;
    height: 57px;
    width: 100%;
    margin-right: auto;
    position: absolute;
    left: 0;
    top: -57px;
}

.hero-footer {
    position: relative;
    padding: 69px 270px 90px;
    box-sizing: border-box;
}

.hero-title {
    margin: 0;
    margin-bottom: 20px;
}

.features {
    display: flex;
    background-color: #82B3D3;
    margin: 0;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 85px;
}

.features-title {
    margin: 0;
    margin-bottom: 60px;
    position: relative;
}

.features-title::after {
    content: "";
    height: 2px;
    width: 60px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -20px;
    background: rgba(255, 255, 255, 0.3);
}

.advantages {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
    margin: 0;
}

.advantages--darck {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
    width: 400px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 85px;
    position: relative;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 304px;
}

.subsribe {
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}

.subsribe-main {
    background: #37546C url(../images/backgrounds/subscribe-background.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.subsribe-line {
    display: flex;
    width: 685px;
}

.subsribe-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 51px;
}

.subscribe-email {
    width: 452px;
    margin: 0;
    padding: 14px 0;
    padding-left: 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
}

.subscribe-email-main {
    background-color: #fff;
}

.inner-header {
    background: #6F7279 url(../images/backgrounds/filter-background.jpg) no-repeat center center;
    background-size: cover;
    padding: 0 70px;
    padding-top: 30px;
    height: 377px;
}

.bradcrumbs-link {
    color: #fff;
}

.hotel-filter {
    display: flex;
    justify-content: space-between;
}

.hotel-filter p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.hotel-filter-wrap {
    width: 375px;
    display: flex;
}

.hotel-filter-infrastructure {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.hotel-filter-housing-type {
    width: 150px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.hotel-filter-cost {
    width: 550px;
}

.hotel-catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.hotel-catalog-sort {
    width: 292px;
    margin-right: 70px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.hotel-sort-wrapper {
    display: flex;
}

.hotel-catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.hotel-catalog-item {
    width: 340px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

.hotel-catalog-item:nth-child(3) {
    margin-right: 0;
}

.hotel-catalog-item:last-of-type {
    margin-bottom: 0;
}

.hotel-cost {
    display: flex;
    justify-content: space-between;
}

.hotel-ietem-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-ietem-raiting-wrapper {
    margin-top: 16px;
    position: relative;
}

.hotel-raiting {
    margin: 0;
    text-align: end;
}

.hotel-raiting::before {
    display: block;
    content: ' ';
    background: url(../images/icons/star.svg) repeat-x;
    height: 20px;
    width: 20px;
    margin-right: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.two-stars::before {
    width: 35px;
}

.three-stars::before {
    width: 55px;
}

.four-stars::before {
    width: 70px;
}

.five-stars::before {
    width: 90px;
}

.pagination {
    display: flex;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #E6E6E6;
}

.pagination-link {
    width: 60px;
    height: 60px;
    background: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
    border: 4px;
    color: #fff;
}

.pagination-link-curent {
    background: #F2F2F2;
    color: #000;
}

.pagination-dots {
    background: transparent;
    color: #000;
}

.pagination-link:last-child {
    margin-right: 0;
}


/*END BLOKS*/
