@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2"), url(../fonts/ptsans-400.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2"), url(../fonts/ptsans-700.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-display: swap;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.visually-hidden {
    display: none;
}


/*FONTS*/

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.navigation-item {
    margin: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    text-transform: capitalize;
}

.hero-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.hero-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.action-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.advantages-description {
    text-align: center;
}

.action-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.subsribe-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.footer-contacts-address-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.hotel-catalog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}


/* .features-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
} */

.light-text {
    color: #fff;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.hotel-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
}


/*END FONTS*/


/*BUTTONS*/

.button {
    background-color: #756157;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.action-link {
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.subsribe-button {
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
}

.hotel-item-favorite-add {
    background-color: #82B3D3;
}

.hotel-item-favorite-added {
    background-color: #7DB54F;
}

.hotel-submit {
    background-color: #82B3D3;
}

.hotel-reset {
    background-color: transparent;
}

.button-sort {
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 0;
}

.button-sort--active {
    width: 48px;
    height: 48px;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 0;
}

.button-cards {
    background-color: transparent;
    background-image: url(../images/icons/sort-mosaic.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-slideshow {
    background-color: transparent;
    background-image: url(../images/icons/sort-slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
}

.button-list {
    background-color: transparent;
    background-image: url(../images/icons/sort-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px;
}


/*END BUTTONS*/


/*BLOKS*/

.container {
    width: 1060px;
    margin: 0 auto;
}

.main-continer {
    flex-grow: 1;
}

.main-header {
    display: flex;
    height: 64px;
    z-index: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.navigation-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-user {
    align-items: center;
}

.main-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px 30px;
}

.footer-contacts-address-phone {
    width: 720px;
    text-align: center;
}

.button-social {
    background-color: transparent;
    width: 40px;
    display: block;
    float: left;
    text-align: center;
}

.hero {
    background: #fff url(../images/backgrounds/hero-background.jpg) no-repeat center top;
    width: 100%;
    height: 767px;
    /* 485px; */
}

.hero-footer {
    height: 282px;
    padding: 0 290px;
    padding-top: 485px;
}

.features {
    display: flex;
    background-color: #82B3D3;
    margin: 0;
}

.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 85px;
}

.features-title {
    margin: inherit;
}

.advantages {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
    margin: 0;
}

.advantages--darck {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
    width: 400px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 85px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 406px;
}

.subsribe {
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}

.subsribe-main {
    background: #37546C url(../images/backgrounds/subscribe-background.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.subsribe-line {
    display: flex;
    width: 685px;
}

.subscribe-email {
    width: 452px;
    margin: 0;
    padding: 14px 0;
    padding-left: 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #F2F2F2;
}

.subscribe-email-main {
    background-color: #fff;
}

.hotel-filter {}

.inner-header {
    background: #6F7279 url(../images/backgrounds/filter-background.jpg) no-repeat center center;
    background-size: cover;
    padding: 0 70px;
    padding-top: 30px;
    height: 377px;
}

.bradcrumbs-link {
    color: #fff;
}

.hotel-filter {
    display: flex;
    justify-content: space-between;
}

.hotel-filter p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.hotel-filter-wrap {
    width: 375px;
    display: flex;
}

.hotel-filter-infrastructure {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.hotel-filter-housing-type {
    width: 150px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.hotel-filter-cost {
    width: 550px;
}

.hotel-catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.hotel-catalog-sort {
    width: 292px;
    margin-right: 70px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.hotel-sort-wrapper {
    display: flex;
}

.hotel-catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel-catalog-item {
    width: 300px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-cost {
    display: flex;
    justify-content: space-between;
}

.hotel-ietem-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-ietem-raiting-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #E6E6E6;
}

.pagination-link {
    width: 60px;
    height: 60px;
    background: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
    border: 4px;
    color: #fff;
}

.pagination-link-curent {
    background: #F2F2F2;
    color: #000;
}

.pagination-dots {
    background: transparent;
    color: #000;
}

.pagination-link:last-child {
    margin-right: 0;
}


/*END BLOKS*/
